{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Django Social Auth</title>
		<link rel="stylesheet" href="{% static 'index.css' %}">
	</head>

	<body>
		<div class="cotainer-fluid">
			<div>
				<h1 class="text-white text-center">
					{% block title %}
					{% endblock %}
				</h1>
				<div >
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
